.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.error {
  border: red 2px solid;
}

.error-message {
  padding-top: 10px;
  color: red;
}

.active-filter {
  background-color: cornflowerblue;
}

.is-done {
  opacity: .5;
}
